body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wht {
    color: rgb(46, 46, 1);
    font: 800;
    transition: all 2s ease-out;
    background-color: rgb(148, 118, 175);
    padding: 1rem;
    width: 50%;
}

.wht:hover {
    background-color: blueviolet;
    color: whitesmoke;
}